---
import '@/styles/base.css'
import { SEO } from 'astro-seo'
import { getPageMetaTags } from '@/utils/meta-tags'
import { ui, defaultLang } from '@/i18n/ui.js'

export interface Props {
	title?: string
	description?: string
	locale: keyof typeof ui
}

const { title, description, locale = defaultLang } = Astro.props

const metaTags = getPageMetaTags({
	title,
	description,
	url: new URL(Astro.url.pathname, Astro.site).toString(),
	site: Astro.site
})
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{title && <SEO {...metaTags} />}
	</head>
	<body class="min-w-[1440px] bg-secondary-100 font-sans transition-opacity">
		<main
			class="flex min-h-[calc(100vh-var(--header-height)-var(--footer-height))] flex-col items-center px-12 py-10 text-primary-900"
		>
			<section class="w-full max-w-[1146px]">
				<slot />
			</section>
		</main>
	</body>
</html>
