---
import "@/styles/base.css";
export interface Props {
    title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <title set:html="Carbon Api" />
        <meta name="description" content="Carbon Footprint Test" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="bg-secondary-100 font-sans">
        <slot />
    </body>
</html>
