---
import { ui, defaultLang } from '@/i18n/ui.js'
import { useTranslations } from '@/i18n/utils'
import { formGroup, inputBase } from '@/utils/inputs.js'
import { textMd, textSm } from '@/utils/typo.js'
import { buttonBase, buttonPrimary, buttonMd } from '@/utils/buttons.js'
export interface Props {
	locale: keyof typeof ui
}
const { locale = defaultLang } = Astro.props
const t = useTranslations(locale)
---

<form action="#" method="GET">
	<div class:list={[formGroup, 'w-[28rem]']}>
		<label
			for="email"
			class:list={['text-primary-900', textSm, 'font-semibold']}
			set:html={t('newsletterform.email.label')}
		/>
		<div class="grid grid-cols-[20rem_auto] gap-1">
			<input
				required
				name="email"
				type="email"
				class:list={[textMd, inputBase]}
				placeholder={t('newsletterform.email.placeholder')}
			/>
			<button
				set:html={t('newsletterform.button')}
				class:list={[buttonBase, buttonPrimary, buttonMd]}
			/>
		</div>
	</div>
</form>
